@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700");

body {
    font-family: 'Barlow', sans-serif;
}

.nav-link:disabled {
    color: lightgray;
}

.nav-link:disabled:hover {
    color: lightgray;
}

.fault {
    background-color: orangered;
}

.fault-nofault {
    background-color: yellowgreen;
}

.fault-alert {
    background-color: orangered;
}

.fault-warning {
    background-color: sandybrown;
}

.fault-info {
    background-color: lightblue;
}

.fault-testing {
    background-color: rgba(187, 231, 187, 0.3);
}

.fault-passive {
    background-color: white;
}

.nofault {
    background-color: yellowgreen;
}
