<div class="row">
	<div class="col">
		<p>
			This is the number of steps from 0 which the ECU will use as guide for starting idle speed control during engine warm up.<br>
			The value will start at quite a high value (>100 steps) on a very cold engine and fall to < 50 steps on a fully warm engine.<br>
			A high value on a fully warm engine or a low value on a cold engine will cause poor idle speed control.<br>
			Idle base position is calculated by the ECU using the engine coolant temperature sensor. If you have a coolant sensor or thermostat fault, this is likely to affect the idle performance.<br>
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx0F_IdleBasePosition" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x13_IdleSpeedDeviation" src="" width="100%">
	</div>
</div>
