<div class="row">
	<div class="col">
		<p>
			The analysis of the run has determined that the engine should have reach operating temperature. <br>
			Since the temperature has remained below 80C, the thermostat should be checked.<br>
			It is possible that there is blockage in the heating or engine coolant hose or the coolant temperature sensor (CTS) is faulty.
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x03_CoolantTemp" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x05_IntakeAirTemp" src="" width="100%">
	</div>
</div>
