<div class="row">
	<div class="col">
		<p>This is the current difference between the target idle speed set by the MEMS ECU and the actual engine speed.<br>
		A value of more than 100 RPM indicates that the ECU is not in control of the idle speed. This indicates a possible fault condition. <br>
		A quick addition of this value and the current engine RPM will also tell what the value is of the ECU's target Idle Speed.</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx0F_IdleBasePosition" src="" width="100%">
	</div>
</div>
