<div class="row">
	<div class="col">
		<p>The idle air is controlled by a stepper motor which directly acts on the throttle disk (normally metal inlet manifold),
			the count indicates the number of times the ECU has had to re-learn the relationship between the stepper position and the throttle position. <br>
			If this count is high or increments each time the ignition is turned off, then there may be a problem with the stepper motor, throttle cable adjustment or the throttle pot.</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx1F_JackCount" src="" width="100%">
	</div>
</div>
