<div class="row">
	<div class="col">
		<p>
			The primary signal to initiate both ignition and fuelling emanates from a Crankshaft Angle Sensor (CAS), also referred to as the Crankshaft Position Sensor which is mounted next to the flywheel.
		</p>
		<p>
			The CAS consists of an inductive magnet that radiates a magnetic field. The flywheel incorporates a reluctor disk containing 34 steel pins set at 10° intervals.
			As the flywheel spins, and the pins are rotated in the magnetic field, an AC voltage signal is generated to indicate speed of rotation.
			The two missing pins (set at 180° intervals) are a reference to TDC, and indicate crankshaft position by varying the signal as the flywheel spins.
			One missing pin indicates TDC for cylinders 1 and 4, and the other missing pin indicates TDC for cylinders 2 and 3.
			The peak-to-peak voltage of the speed signal can vary from 5 volts at idle to over 100 volts at 6000 rpm.
			The ECU contains an analogue-to-digital converter to transform the AC pulse into a digital signal.
		</p>
		<p>
			Whilst not a common fault, the Crankshaft sensor can fail over time and result in the car ultimately failing to start.
			Since this critical sensor is responsible for setting the initial timing for fuel and ignition a failing sensor could result in hesitations or misfire.
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x19_CrankshaftPositionSensor" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x16_IgnitionAdvance" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x15_IgnitionAdvanceOffset" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x17_CoilTime" src="" width="100%">
	</div>
</div>


