<div class="row">
	<div class="col">
		<p>
			The throttle potentiometer sensor (TPS) is provided to inform the ECU of rate  of acceleration. The TPS is a potentiometer
			with three wires. A 5.0 volt reference voltage is supplied to a resistance track, with the other end connected to earth. The third wire is
			connected to an arm which wipes along the resistance track, and so varies the resistance and voltage of the signal returned to the ECU.
			From the voltage returned, the ECU is able to calculate just how quickly the throttle is opened. From model year 1993 onwards, the
			TPS also informs the ECU of idle position with a voltage of approximately 0.6 volts.
			<br>
			A fault will be indicated with the TPS circuit if the voltage reading is below 0.6 volts.
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x09_ThrottlePotSensor" src="" width="100%">
	</div>
</div>
