<div class="text-center">
	<div class="card m-3 fs-6">
		<p>
			The MEMS ECU supports the ability to manually test various components and sensors.<br>
			<br>
			When you switch on a control you should hear the relay click or the fuel pump run for example.<br>
			The temperature gauge control is very useful in verifying that the output from the ECU is operating the temperature gauge correctly.<br>
		</p>
		<p>
			<strong>These components are essential to the smooth operation of the engine, these controls are only available when the engine is not running.</strong>
		</p>
	</div>
	<div class="container">
		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_temp_gauge_activate" name="actuate_temp_gauge" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_temp_gauge" class="btn btn-outline-dark col-3" disabled>Temperature Gauge</button>
			<button id="actuate_temp_gauge_deactivate" name="actuate_temp_gauge" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_fuel_pump_activate" name="actuate_fuel_pump" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_fuel_pump" class="btn btn-outline-dark col-3" disabled>Fuel Pump</button>
			<button id="actuate_fuel_pump_deactivate" name="actuate_fuel_pump" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_ptc_activate" name="actuate_ptc" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_ptc" class="btn btn-outline-dark col-3" disabled>Manifold Heater</button>
			<button id="actuate_ptc_deactivate" name="actuate_ptc" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_aircon_activate" name="actuate_aircon" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_aircon" class="btn btn-outline-dark col-3" disabled>Air Con</button>
			<button id="actuate_aircon_deactivate" name="actuate_aircon" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_purge_valve_activate" name="actuate_purge_valve" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_purge_valve" class="btn btn-outline-dark col-3" disabled>Purge Valve</button>
			<button id="actuate_purge_valve_deactivate" name="actuate_purge_valve" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_lambda_heater_activate" name="actuate_lambda_heater" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_lambda_heater" class="btn btn-outline-dark col-3" disabled>Lambda Heater</button>
			<button id="actuate_lambda_heater_deactivate" name="actuate_lambda_heater" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_fan_1_activate" name="actuate_fan_1" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_fan_1" class="btn btn-outline-dark col-3" disabled>Fan 1</button>
			<button id="actuate_fan_1_deactivate" name="actuate_fan_1" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_fan_2_activate" name="actuate_fan_2" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_fan_2" class="btn btn-outline-dark col-3" disabled>Fan 2</button>
			<button id="actuate_fan_2_deactivate" name="actuate_fan_2" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_injector_activate" name="actuate_injector" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_injector" class="btn btn-outline-dark col-3" disabled>Injector</button>
			<button id="actuate_injector_deactivate" name="actuate_injector" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>

		<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
			<button id="actuate_coil_activate" name="actuate_coil" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
			<button id="actuate_coil" class="btn btn-outline-dark col-3" disabled>Coil</button>
			<button id="actuate_coil_deactivate" name="actuate_coil" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
		</div>
	</div>
</div>

