<div class="card mt-3">
	<div class="card-body">
		<p class="analysis-no_faults alert alert-success">No faults found</p>

		<p class="alert alert-warning analysis-engine_cold">Engine operating temperature has not yet been achieved in this run. There maybe faults that have not been detected that only appear once the engine is warm.</p>

		<div class="card d-none mt-3 analysis-has_faults">
			<div class="card-header alert alert-danger">Faults Detected</div>
			<div class="card-body">
				<p class="d-none analysis-battery_fault analysis-title">Battery Voltage Low</p>
				<p class="d-none analysis-coil_fault analysis-title">Coil Timing High</p>
				<p class="d-none analysis-coolant_temperature_fault analysis-title">Coolant Sensor Fault</p>
				<p class="d-none analysis-idle_fault analysis-title">Idle Fault when Cold</p>
				<p class="d-none analysis-idle_hot_fault analysis-title">Idle Fault when Hot</p>
				<p class="d-none analysis-iac_fault analysis-title">Stepper Motor Control (IACV) Fault</p>
				<p class="d-none analysis-idle_speed_fault analysis-title">Idle Speed Control Fault</p>
				<p class="d-none analysis-inlet_air_temp_sensor_fault analysis-title">Inlet Air Temperature Sensor Fault</p>
				<p class="d-none analysis-map_fault analysis-title">MAP Reading Too High</p>
				<p class="d-none analysis-vacuum_fault analysis-title">Possible Vacuum Leak</p>
				<p class="d-none analysis-o2_system_fault analysis-title">O2 System Fault</p>
				<p class="d-none analysis-thermostat_fault analysis-title">Possible Thermostat Fault</p>
				<p class="d-none analysis-throttle_pot_circuit_fault analysis-title">Throttle Potentiometer Circuit Fault</p>
				<p class="d-none analysis-crankshaft_position_sensor_fault analysis-title">Possible Crankshaft Position Sensor Fault</p>
				<p class="d-none analysis-iac_jack_fault analysis-title">ECU Reaching IAC Stepper Motor Limits (Jack Count High)</p>
			</div>
		</div>

		<div class="card mt-3 d-none analysis-battery_fault">
			<div class="card-header alert alert-danger analysis-battery_fault analysis-title"></div>
			<div class="card-body analysis-battery_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-coil_fault">
			<div class="card-header alert alert-danger analysis-coil_fault analysis-title"></div>
			<div class="card-body analysis-coil_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-coolant_temperature_fault">
			<div class="card-header alert alert-danger analysis-coolant_temperature_fault analysis-title"></div>
			<div class="card-body analysis-coolant_temperature_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-idle_hot_fault">
			<div class="card-header alert alert-danger analysis-idle_hot_fault analysis-title"></div>
			<div class="card-body analysis-idle_hot_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-idle_fault">
			<div class="card-header alert alert-danger analysis-idle_fault analysis-title"></div>
			<div class="card-body analysis-idle_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-iac_fault">
			<div class="card-header alert alert-danger analysis-iac_fault analysis-title"></div>
			<div class="card-body analysis-iac_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-idle_speed_fault">
			<div class="card-header alert alert-danger analysis-idle_speed_fault analysis-title"></div>
			<div class="card-body analysis-idle_speed_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-inlet_air_temp_sensor_fault">
			<div class="card-header alert alert-danger analysis-inlet_air_temp_sensor_fault analysis-title"></div>
			<div class="card-body analysis-inlet_air_temp_sensor_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-map_fault">
			<div class="card-header alert alert-danger analysis-map_fault analysis-title"></div>
			<div class="card-body analysis-map_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-vacuum_fault">
			<div class="card-header alert alert-danger analysis-vacuum_fault analysis-title"></div>
			<div class="card-body analysis-vacuum_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-o2_system_fault">
			<div class="card-header alert alert-danger analysis-o2_system_fault analysis-title"></div>
			<div class="card-body analysis-o2_system_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-thermostat_fault">
			<div class="card-header alert alert-danger analysis-thermostat_fault analysis-title"></div>
			<div class="card-body analysis-thermostat_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-throttle_pot_circuit_fault">
			<div class="card-header alert alert-danger analysis-throttle_pot_circuit_fault analysis-title"></div>
			<div class="card-body analysis-throttle_pot_circuit_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-crankshaft_position_sensor_fault">
			<div class="card-header alert alert-danger analysis-crankshaft_position_sensor_fault analysis-title"></div>
			<div class="card-body analysis-crankshaft_position_sensor_fault analysis-content"></div>
		</div>

		<div class="card mt-3 d-none analysis-iac_jack_fault">
			<div class="card-header alert alert-danger analysis-iac_jack_fault analysis-title"></div>
			<div class="card-body analysis-iac_jack_fault analysis-content"></div>
		</div>

	</div>
</div>
