<div class="position-relative">
	<div class="chart-container"><canvas title="80x01 RPM" class="ecuchart _80x01_EngineRPM" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x01 RPM</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x01_EngineRPM">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x03 Coolant (°C)" class="ecuchart _80x03_CoolantTemp" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x03 Coolant (°C)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x03_CoolantTemp">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x05 Intake Air (°C)" class="ecuchart _80x05_IntakeAirTemp" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x05 Intake Air (°C)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x05_IntakeAirTemp">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x07 MAP (kPA)" class="ecuchart _80x07_ManifoldAbsolutePressure" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x07 MAP (kPA)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x07_ManifoldAbsolutePressure">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x08 Battery (V)" class="ecuchart _80x08_BatteryVoltage" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x08 Battery (V)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x08_BatteryVoltage">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x09 Throttle Pot. (V)" class="ecuchart _80x09_ThrottlePotSensor" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x09 Throttle Pot. (V)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x09_ThrottlePotSensor">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x0a Idle Switch" class="ecuchart _80x0A_IdleSwitch" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x0a Idle Switch</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x0A_IdleSwitch">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x0c Neutral Switch" class="ecuchart _80x0C_ParkNeutralSwitch" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x0c Neutral Switch</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x0C_ParkNeutralSwitch">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x0f Idle Set Point" class="ecuchart _80x0F_IdleSetPoint" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x0f Idle Set Point</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x0F_IdleSetPoint">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x10 Hot Idle" class="ecuchart _80x10_IdleHot" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x10 Hot Idle</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x10_IdleHot">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x12 IAC Position (Steps)" class="ecuchart _80x12_IACPosition" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x12 IAC Position (Steps)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x12_IACPosition">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x13 Idle Speed Deviation" class="ecuchart _80x13_IdleSpeedDeviation" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x13 Idle Speed Deviation</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x13_IdleSpeedDeviation">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x15 Ignition Adv. Offset" class="ecuchart _80x15_IgnitionAdvanceOffset" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x15 Ignition Adv. Offset</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x15_IgnitionAdvanceOffset">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x16 Ignition Adv." class="ecuchart _80x16_IgnitionAdvance" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x16 Ignition Adv.</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x16_IgnitionAdvance">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x17 Coil Time (ms)" class="ecuchart _80x17_CoilTime" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x17 Coil Time (ms)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x17_CoilTime">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="80x19 Crankshaft Position" class="ecuchart _80x19_CrankshaftPositionSensor" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">80x19 Crankshaft Position</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__80x19_CrankshaftPositionSensor">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx01 Ignition Switch" class="ecuchart _7Dx01_IgnitionSwitch" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx01 Ignition Switch</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx01_IgnitionSwitch">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx02 Throttle Angle (°)" class="ecuchart _7Dx02_ThrottleAngle" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx02 Throttle Angle (°)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx02_ThrottleAngle">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx04 Air Fuel Ratio" class="ecuchart _7Dx04_AirFuelRatio" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx04 Air Fuel Ratio</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx04_AirFuelRatio">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx06 Lambda Voltage (mV)" class="ecuchart _7Dx06_LambdaVoltage" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx06 Lambda Voltage (mV)</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx06_LambdaVoltage">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx07 Lambda Freq." class="ecuchart _7Dx07_LambdaFrequency" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx07 Lambda Freq.</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx07_LambdaFrequency">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx08 Lambda Duty Cycle" class="ecuchart _7Dx08_LambdaDutycycle" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx08 Lambda Duty Cycle</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx08_LambdaDutycycle">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx09 O2 Circuit Status" class="ecuchart _7Dx09_LambdaStatus" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx09 O2 Circuit Status</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx09_LambdaStatus">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx0a Close Loop Active" class="ecuchart _7Dx0A_ClosedLoop" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx0a Close Loop Active</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx0A_ClosedLoop">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx0b LTFT" class="ecuchart _7Dx0B_LongTermFuelTrim" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx0b LTFT</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx0B_LongTermFuelTrim">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx0c STFT" class="ecuchart _7Dx0C_ShortTermFuelTrim" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx0c STFT</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx0C_ShortTermFuelTrim">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx0d Purge Valve" class="ecuchart _7Dx0D_CarbonCanisterPurgeValve" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx0d Purge Valve</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx0D_CarbonCanisterPurgeValve">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx0f Idle Base Position" class="ecuchart _7Dx0F_IdleBasePosition" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx0f Idle Base Position</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx0F_IdleBasePosition">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx12 Ignition Adv.Offset" class="ecuchart _7Dx12_IgnitionAdvanceOffset" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx12 Ignition Adv.Offset</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx12_IgnitionAdvanceOffset">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx13 Idle Speed Offset" class="ecuchart _7Dx13_IdleSpeedOffset" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx13 Idle Speed Offset</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx13_IdleSpeedOffset">0</div>
</div>
<div class="position-relative">
	<div class="chart-container"><canvas title="7dx1f Jack Count" class="ecuchart _7Dx1F_JackCount" height="150"></canvas></div>
	<div class="position-absolute top-50 end-0 m-3 ecudata-label">7dx1f Jack Count</div>
	<div class="position-absolute bottom-0 end-0 m-3 ecudata__7Dx1F_JackCount">0</div>
</div>
