<div class="container">

	<div class="row row-cols-4 mt-2 mb-4">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x01_EngineRPM">Engine RPM</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x01_EngineRPM">&nbsp;</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="Engine RPM" class="ecuspark _80x01_EngineRPM" height="150"></canvas></div>
				</div>
			</div>

		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x09_ThrottlePotSensor">Throttle Position</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x09_ThrottlePotSensor">&nbsp;</div>
				</div>

				<div class="col col-4">
					V
				</div>

			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="Throttle Position" class="ecuspark _80x09_ThrottlePotSensor" height="150"></canvas></div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault_EngineIdle">Engine Status</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata_EngineIdle">Off&nbsp;</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x12_IACPosition">IAC Position</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x12_IACPosition">&nbsp;</div>
				</div>

				<div class="col col-4">
					Steps
				</div>
			</div>
		</div>
	</div>

	<div class="row row-cols-4 mt-2 mb-4">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x03_CoolantTemp">Coolant Temp</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x03_CoolantTemp">&nbsp;</div>
				</div>
				<div class="col col-4">
					°C
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="Coolant Temp" class="ecuspark _80x03_CoolantTemp" height="150"></canvas></div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x05_IntakeAirTemp">Intake Air Temp</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x05_IntakeAirTemp">&nbsp;</div>
				</div>
				<div class="col col-4">
					°C
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="Intake Air Temp" class="ecuspark _80x05_IntakeAirTemp" height="150"></canvas></div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x08_BatteryVoltage">Battery</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x08_BatteryVoltage">&nbsp;</div>
				</div>

				<div class="col col-4">
					°C
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x16_IgnitionAdvance">Ignition Advance</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x16_IgnitionAdvance">&nbsp;</div>
				</div>
				<div class="col col-4">
					°
				</div>
			</div>
		</div>
	</div>

	<div class="row row-cols-4 mt-2 mb-4">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__80x07_ManifoldAbsolutePressure">MAP</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__80x07_ManifoldAbsolutePressure">&nbsp;</div>
				</div>
				<div class="col col-4">
					kPa
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="MAP" class="ecuspark _80x07_ManifoldAbsolutePressure" height="150"></canvas></div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__7Dx06_LambdaVoltage">Lambda Voltage</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__7Dx06_LambdaVoltage">&nbsp;</div>
				</div>
				<div class="col col-4">
					mV
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="Lambda Voltage" class="ecuspark _7Dx06_LambdaVoltage" height="150"></canvas></div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__7Dx0A_ClosedLoop">Loop Status</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__7Dx0A_ClosedLoop">-&nbsp;</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__7Dx09_LambdaStatus">O2 System Active</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__7Dx09_LambdaStatus">Inactive&nbsp;</div>
				</div>
				<div class="col col-4">
				</div>
			</div>
		</div>
	</div>

	<div class="row row-cols-4 mt-2 mb-4">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__7Dx0C_ShortTermFuelTrim">Short Term Fuel Trim</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__7Dx0C_ShortTermFuelTrim">&nbsp;</div>
				</div>
				<div class="col col-4">
					%
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="Short Term Fuel Trim" class="ecuspark _7Dx0C_ShortTermFuelTrim" height="150"></canvas></div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault__7Dx0B_LongTermFuelTrim">Long Term Fuel Trim</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata__7Dx0B_LongTermFuelTrim">&nbsp;</div>
				</div>
				<div class="col col-4">
					%
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="col dashboard-chart-container"><canvas title="Long Term Fuel Trim" class="ecuspark _7Dx0B_LongTermFuelTrim" height="150"></canvas></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row row-cols-4 mt-2 mb-4">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault_CoolantTempSensorFault">Coolant Sensor Fault</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata_CoolantTempSensorFault">-&nbsp;</div>
				</div>
				<div class="col col-4">
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault_IntakeAirTempSensorFault">Intake Temperature Sensor Fault</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata_IntakeAirTempSensorFault">-&nbsp;</div>
				</div>
				<div class="col col-4">
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault_FuelPumpCircuitFault">Fuel Pump Circuit Fault</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata_FuelPumpCircuitFault">-&nbsp;</div>
				</div>
				<div class="col col-4">
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col">
					<div class="text-black-50 fault_ThrottlePotCircuitFault">Throttle Pot. Circuit Fault</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="fs-1 ecudata_ThrottlePotCircuitFault">-&nbsp;</div>
				</div>
				<div class="col col-4">
				</div>
			</div>
		</div>
	</div>
</div>
