<div class="text-start" id="ecuid">ECU ID:</div>

<div class="row align-items-start justify-content-evenly text-start">
	<div class="col">
		<table class="table table-striped table-sm">
			<tbody id="df80table">
			<tr>
				<td>Coolant Sensor Fault</td>
				<td class="ecudata_CoolantTempSensorFault">&nbsp;</td>
			</tr>
			<tr>
				<td>Fuel Pump Circuit Fault</td>
				<td class="ecudata_FuelPumpCircuitFault">&nbsp;</td>
			</tr>
			<tr>
				<td>Intake Air Sensor Fault</td>
				<td class="ecudata_IntakeAirTempSensorFault">&nbsp;</td>
			</tr>
			<tr>
				<td>Throttle Pot. Fault</td>
				<td class="ecudata_ThrottlePotCircuitFault">&nbsp;</td>
			</tr>
			<tr>
				<td>Time</td>
				<td class="ecudata__80x00_Time">&nbsp;</td>
			</tr>
			<tr>
				<td>80x01 RPM</td>
				<td class="ecudata__80x01_EngineRPM">&nbsp;</td>
			</tr>
			<tr>
				<td>80x03 Coolant (°C)</td>
				<td class="ecudata__80x03_CoolantTemp">&nbsp;</td>
			</tr>
			<tr>
				<td>80x05 Intake Air (°C)</td>
				<td class="ecudata__80x05_IntakeAirTemp">&nbsp;</td>
			</tr>
			<tr>
				<td>80x07 MAP (kPA)</td>
				<td class="ecudata__80x07_ManifoldAbsolutePressure">&nbsp;</td>
			</tr>
			<tr>
				<td>80x08 Battery (V)</td>
				<td class="ecudata__80x08_BatteryVoltage">&nbsp;</td>
			</tr>
			<tr>
				<td>80x09 Throttle Pot. (V)</td>
				<td class="ecudata__80x09_ThrottlePotSensor">&nbsp;</td>
			</tr>
			<tr>
				<td>80x0a Idle Switch</td>
				<td class="ecudata__80x0A_IdleSwitch">&nbsp;</td>
			</tr>
			<tr>
				<td>80x0c Neutral Switch</td>
				<td class="ecudata__80x0C_ParkNeutralSwitch">&nbsp;</td>
			</tr>
			<tr>
				<td>80x0f Idle Set Point</td>
				<td class="ecudata__80x0F_IdleSetPoint">&nbsp;</td>
			</tr>
			<tr>
				<td>80x10 Hot Idle</td>
				<td class="ecudata__80x10_IdleHot">&nbsp;</td>
			</tr>
			<tr>
				<td>80x12 IAC Position (Steps)</td>
				<td class="ecudata__80x12_IACPosition">&nbsp;</td>
			</tr>
			<tr>
				<td>80x13 Idle Speed Deviation</td>
				<td class="ecudata__80x13_IdleSpeedDeviation">&nbsp;</td>
			</tr>
			<tr>
				<td>80x15 Ignition Adv. Offset</td>
				<td class="ecudata__80x15_IgnitionAdvanceOffset">&nbsp;</td>
			</tr>
			<tr>
				<td>80x16 Ignition Adv.</td>
				<td class="ecudata__80x16_IgnitionAdvance">&nbsp;</td>
			</tr>
			<tr>
				<td>80x17 Coil Time (ms)</td>
				<td class="ecudata__80x17_CoilTime">&nbsp;</td>
			</tr>
			<tr>
				<td>80x19 Crankshaft Position</td>
				<td class="ecudata__80x19_CrankshaftPositionSensor">&nbsp;</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="col">
		<table class="table table-striped table-sm">
			<tbody id="df7dtable">
			<tr>
				<td>7dx01 Ignition Switch</td>
				<td class="ecudata__7Dx01_IgnitionSwitch">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx02 Throttle Angle (°)</td>
				<td class="ecudata__7Dx02_ThrottleAngle">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx04 Air Fuel Ratio</td>
				<td class="ecudata__7Dx04_AirFuelRatio">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx06 Lambda Voltage (mV)</td>
				<td class="ecudata__7Dx06_LambdaVoltage">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx07 Lambda Freq.</td>
				<td class="ecudata__7Dx07_LambdaFrequency">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx08 Lambda Duty Cycle</td>
				<td class="ecudata__7Dx08_LambdaDutycycle">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx09 O2 Circuit Status</td>
				<td class="ecudata__7Dx09_LambdaStatus">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx0a Close Loop Active</td>
				<td class="ecudata__7Dx0A_ClosedLoop">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx0b LTFT</td>
				<td class="ecudata__7Dx0B_LongTermFuelTrim">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx0c STFT</td>
				<td class="ecudata__7Dx0C_ShortTermFuelTrim">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx0d Purge Valve</td>
				<td class="ecudata__7Dx0D_CarbonCanisterPurgeValve">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx0f Idle Base Position</td>
				<td class="ecudata__7Dx0F_IdleBasePosition">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx12 Ignition Adv.Offset</td>
				<td class="ecudata__7Dx12_IgnitionAdvanceOffset">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx13 Idle Speed Offset</td>
				<td class="ecudata__7Dx13_IdleSpeedOffset">&nbsp;</td>
			</tr>
			<tr>
				<td>7dx1f Jack Count</td>
				<td class="ecudata__7Dx1F_JackCount">&nbsp;</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
