<!-- guide-to-ecu.jinja -->
<div class="card mt-3 bg-light">
	<div class="card-header">How the ECU and Injection System Works</div>
	<div class="card-body">
		<div>
			<div class="card p-3">
				<h5>The Rover Modular Engine Management System (MEMS) ECU</h5>
				<p>
					The Rover MEMS ECU is a sophisticated engine management system.
					It's principle role is to create the most optimised air / fuel mixture for the engine given the current conditions.
					To do this the ECU needs to know the load and environmental conditions that it uses in the complex air / fuel ratio (AFR) calculation.
				</p>
				<div class="row row-cols-8 my-2">
					<div class="col-1">
						<img src="/static/images/mems-1.3.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<p>
							The early SPI (pre-1993) is fitted with the Rover MEMS 1.3, this ECU is distinguishable from later versions as it has 2 connectors.
							This ECU does not support O2 System information.
						</p>
					</div>
					<div class="col-1">
						<img src="/static/images/mems-1.6.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<p>
							Later SPI's are fitted with the Rover MEMS ECU 1.6.
							This version of the ECU has a single connector and provides additional data for management of the O2 System / Closed-loop operation.
						</p>
					</div>
				</div>
			</div>

			<!-- guide-to-ecu-sensors.html -->
			<div class="card p-3 mt-2">
				<h5>Sensors used by the ECU</h5>

				<div class="row my-2">
					<div class="col-2">
						<img src="static/images/spi-crankshaft-sensor.png" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Crankshaft Position Sensor (CAS)</h5>
						<p>
							Fitted on the front left side of the engine, this sensor is used to determine the position of the engine relative to top dead centre (TDC) and to calculate the speed of the engine.
							This sensor is the primary signal to initiate ignition and fueling.
						</p>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-2">
						<img src="static/images/spi-air-intake-sensor.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Air Intake Temperature Sensor (ATS)</h5>
						<p>
							Fitted to the underside of the air filter, this sensor reads the temperature of the air entering the inlet manifold.
							Whilst used as a reference in the air / fuel ratio calculation, it has no impact on fueling.
						</p>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-2">
						<img src="static/images/spi-coolant-sensor.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Coolant Temperature Sensor (CTS)</h5>
						<p>
							Fitted to the underside of the inlet manifold, this sensor reads the temperature of the coolant.
							Normal operating temperature is usually from 80C to 100C and is a critical value in the calculation of ignition timing and duration.
						</p>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-2">
						<img src="static/images/vacuum-ecu.jpeg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Manifold Absolute Pressure (MAP)</h5>
						<p>
							The MAP sensor is fitted inside the ECU and reads the inlet manifold vacuum via a vacuum pipe that runs from the inlet manifold to the ECU via a fuel trap.
							The fuel trap prevents vapours entering and damaging the MAP sensor. The MAP sensor is used to measure the load on the engine.
							Using the MAP value and the speed of the engine from the CAS, the ECU calculates the air / fuel ratio.
						</p>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-2">
						<img src="static/images/spi-under-inlet-manifold.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Oxygen (Lambda) Sensor (OS)</h5>
						<p>
							The MEMS injection system implements a closed-loop control system which monitors the oxygen content in the exhaust gases in order to reduce exhaust emissions.
							Fitted to the exhaust down pipe, this sensor is the critical component in the O2 System. The lambda sensor starts working once it reaches 300C.
							The lambda sensor is fitted with a heater which is switched on via a relay once the engine is running to reach this operating temperature as soon as possible.
							Once the sensor is at operating temperature it will read low oxygen level in a rich mixture and a high oxygen level in a lean mixture.
							The ECU uses these readings to adjust the fuel mixture accordingly. This adjustment happens many times a second.
						</p>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-2">
						<img src="static/images/spi-throttle-pot-sensor.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Throttle Potentiometer Sensor (TPS)</h5>
						<p>
							The TPS is fitted to the side of the injector unit, you can see the connector and cable above the pen in the image.
							This sensor is used by the ECU to determine the angle of the throttle and whether the engine is idle.
						</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-2">
						<img src="static/images/spi-throttle-switch.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Throttle Switch (TS)</h5>
						<p>
							Fitted on early SPI Minis only the Throttle Switch is used by the ECU to determine whether the engine is idling.
							On the later MEMS 1.6 ECU, the idle is determined using the Throttle Potentiometer Sensor.
						</p>
					</div>
				</div>
			</div>
			<!-- guide-to-ecu-sensors.html -->

			<!-- guide-to-ecu-actuators.html -->
			<div class="card p-3 mt-2">
				<div class="row my-2">
					<div class="col-2">
						<img src="static/images/spi-idle-stop-screw.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
					</div>
					<div class="col">
						<h5>Stepper Motor / Idle Air Control (IAC) Steps</h5>
						<p>
							The stepper motor is used to control the idle speed during normal idle and during engine warm-up by adjusting the throttle.
							The ECU will also use the stepper motor to adjust the idle when additional electrical load such as headlights are switched on as this can cause the engine speed to drop.
							The ECU drives the stepper motor via a cam, to a push rod (both are in the stepper housing lid) which acts directly on to what is called the Throttle Spindle Stop.
							This small round flat disc is attached, via the Idle Stop Screw, to the throttle body linkage (see pic) and therefore the throttle disc and air supply/flow into the engine.
							If you watch the push rod carefully when the engine is warming up, you will be able to see it moving in and out a bit.
							<strong>Never adjust this screw without using a diagnostic tool and follow <a href="https://memsfcr.co.uk/setting-the-idle-speed-stepper-motor/" target="_blank">this guide</a></strong>
						</p>
						<p>
							It is important to understand that the ECU cannot read the position of the stepper motor. When you turn off the engine, you should hear an audible clicking, this is the ECU driving the stepper fully closed.
							It drives it for 180 steps and a few more to make sure its closed, in doing this it knows where it is, zero steps, and can then count the steps open.
							After it has driven the stepper full closed and before the ECU switches off, it then opens the stepper to a point determined by the engine temp, ready for the next start.
							The IAC Position reported by the ECU is based on this learnt position and reports the number of steps it has applied to the stepper motor.
						</p>
					</div>
				</div>
			</div>
			<!-- guide-to-ecu-actuators.html -->
		</div>
	</div>
</div>
<!-- guide-to-ecu.jinja -->

<!-- guide-to-ecu-faults.html -->
<div class="card mt-3">
	<div class="card-header bg-danger text-white">ECU Sensor Faults</div>
	<div class="card-body">
		<div>
			<p>
				Any reported sensor fault will cause the ECU to run the engine in limp mode and likely cause over fueling. Do not make any adjustments until the sensor fault is fixed.
			</p>
			<h4>Action Plan</h4>
			<ul>
				<li>Clear the faults</li>
				<li>Switch off ignition</li>
				<li>Switch on ignition and check the fault codes again</li>
				<li>If the faults persist or after driving the car they reappear, replace the sensor / check the relevant circuit</li>
			</ul>
		</div>
	</div>
</div>
<!-- guide-to-ecu-faults.html -->

<!-- guide-to-expected-values.html -->
<div class="card mt-3">
	<div class="card-header bg-success text-white">Guide to Expected Values</div>
	<div class="card-body">
		<div>
			<p>
				The ECU will react to conditions based on the values it reads from the sensors fitted to the engine. The following details the behaviour and expected values.
			</p>
			<h4>Ignition is ON, Engine not Running</h4>
			<ul>
				<li>Engine RPM 0</li>
				<li>MAP 100kPa (this is atmospheric pressure, e.g. no vacuum)</li>
				<li>Air Intake Temperature at general air temperature e.g 20C</li>
				<li>Lambda Voltage 435mV, not oscillating</li>
				<li>O2 System (Lambda Status) is Inactive (0)</li>
				<li>Loop is Open (Closed Loop = 0)</li>
			</ul>
			<h4>Ignition is ON, Engine COLD : Running and Idle</h4>
			<ul>
				<li>Engine RPM 1200 and actively decreasing to 850 as the engine warms</li>
				<li>MAP 40kPa or less (lower is better), higher than 40kPa indicates a possible vacuum fault, 0kPA is a sensor fault</li>
				<li>Coolant Temperature increasing a degree every 10-15 seconds until the thermostat temperature is reached (88C). A static 60C indicates a possible fault</li>
				<li>Air Intake Temperature at general air temperature e.g 20C</li>
				<li>Lambda Voltage will rise and then gradually reduce, then start rapidly oscillating between 100mV and 900mV after 90 seconds</li>
				<li>O2 System (Lambda Status) is Active (1) after 90 seconds. If the lambda fails to oscillate then this value will change 0 and the ECU will enter limp home mode</li>
			</ul>
			<h4>Ignition is ON, Engine WARM : Running and Idle</h4>
			<ul>
				<li>Engine RPM 850 +/- 10 </li>
				<li>MAP 40kPa or less (lower is better)</li>
				<li>Coolant Temperature > 80C. Whilst the thermostat is 88C, the ECU determines a coolant temperature > 80C as operating temperature.</li>
				<li>Air Intake Temperature at general air temperature e.g 20C</li>
				<li>Lambda Voltage is oscillating</li>
				<li>O2 System (Lambda Status) is Active (1)</li>
			</ul>
		</div>
	</div>
</div>
<!-- guide-to-expected-values.html -->

<!-- guide-to-o2-system.html -->
<div class="card mt-3">
	<div class="card-header bg-success text-white">Guide to the Oxygen Monitoring System</div>
	<div class="card-body">
		<div>
			<p>
				The oxygen monitoring system (O2 System) is critical to the fuel mixture determined by the ECU. The system relies on a working Lambda Sensor (O2 Sensor).<br>
				When the ignition is switched on, the ECU Lambda relay is energised to enable the Lambda Sensor heater. A failure in the lambda heater or the circuit will delay the start of the lambda oscillating and a failure in the O2 System.<br>
				After approximately 90 seconds the Lambda Sensor should start rapidly oscillating between 100mv and 900mV.
				The ECU expects this behaviour, <strong>if the lambda voltage is a static or oscillations are slow, the ECU will determine a failure in the O2 System.</strong>
				If the lambda is working correctly, the ECU will enter Closed Loop mode where it uses the lambda readings to adjust the fueling accordingly.
			</p>
			<h4>A Working O2 System</h4>
			<ul>
				<li>Lambda Voltage oscillates rapidly between 100mV and 900mV after 90s of start</li>
				<li>O2 System  Status is Active (O2 Lambda Status = 1) after 90s of start</li>
				<li>Loop is Closed (Closed Loop = 1)</li>
				<li>Lambda Heater relay is working, this can be tested</li>
			</ul>
		</div>
	</div>
</div>
<!-- guide-to-o2-system.html -->

<!-- guide-to-vacuum-system.html -->
<div class="card mt-3">
	<div class="card-header bg-success text-white">Guide to the Vacuum System</div>
	<div class="card-body">
		<div>
			<p>
				There are several parts to the vacuum system, namely the inlet manifold, the inlet manifold pipes and fuel trap, the vacuum rail and the carbon canister.
				Pressure is created in the inlet manifold when the engine is running and can be measured to determine the load and performance of the engine.
				A loss of vacuum pressure will result in the ECU being unable to accurately measure and adapt to engine load and lose the ability to control the rpm of the engine.
				In the worst case, this will result in erratic engine rpm and massive over-fuelling.
				The most notorious and troublesome part of this system is the inlet manifold vacuum pipes and fuel trap that run to the ECU.
				A break in the pipe can lead to complete loss of vacuum, however more common is a split in an elbow connector will give partial loss and over-fuelling will be the most notable symptom rather than erratic running.
			</p>
			<div class="row row-cols-3">
				<div class="col"><img src="static/images/vacuum-pipe.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">Vacuum Pipe Elbows can split causing a high MAP reading</div>
				<div class="col"><img src="static/images/vacuum-manifold.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">Vacuum Pipe fits behind the inlet manifold</div>
				<div class="col"><img src="static/images/vacuum-fueltrap.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">The fuel trap. This prevents vapours entering the ECU MAP sensor</div>
			</div>
			<div class="row row-cols-3 mb-5">
				<div class="col"><img src="static/images/vacuum-ecu.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">ECU MAP connection</div>
				<div class="col"><img src="static/images/vacuum-charcoal.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">Carbon Filter Solenoid Valve</div>
				<div class="col"></div>
			</div>
			<h4>A Working Vacuum System</h4>
			<ul>
				<li>Manifold Absolute Pressure (MAP) is 40kPa or lower. A warm engine is likely to be in the range of 34kPA - 40kPA.</li>
				<li>Carbon Canister Value relay operates after the throttle has been held open at >= 2000 rpm for a period of time (30 seconds or so)</li>
			</ul>
			<h4>Action Plan for a Failing Vacuum System</h4>
			<ul>
				<li>Check vacuum pipes for breaks, in particular check the elbow connectors for splits and are firmly attached to the pipes</li>
				<li>Check vacuum pipes are not pushed so far on to the fuel trap so they block the air flow.</li>
				<li>Check fuel trap by sealing one end with your finger and blowing into it</li>
			</ul>
			<h4>Action Plan for a Partial Vacuum System</h4>
			<p>In many cases the Manifold Absolute Pressure (MAP) in a partially failing system maybe just above 40kPa, probably in the range of 41kPA - 50kPA. Over-fuelling will be the most notable symptom rather than erratic running</p>
			<ul>
				<li>Follow steps for a Failing Vacuum System</li>
				<li>Check inlet manifold is tightened correctly</li>
				<li>Check vacuum pipe from inlet manifold to vacuum rail</li>
				<li>Check vacuum pipe to carbon canister</li>
				<li>Optionally replace the vacuum pipes with silicon vacuum pipes (3mm internal diameter).</li>
			</ul>
		</div>
	</div>
</div>
<!-- guide-to-vacuum-system.html -->

<!-- credits.html -->
<div class="card mt-3 bg-light">
	<div class="card-header">Credits and Thanks</div>
	<div class="card-body">
		<p>
			Much of the information and guidance has been sourced from the community, if your images or words feature and I haven't thanked you specifically for your contribution, then thank you.
			I have reused guides and images as these are publicly searchable and available in various forums and doing so reinforces a single source of the truth in a web full of rumours and misinformation.
		</p>
		<ul>
			<li>Roger Carpenter, Classic Mini NLA: Rare & Alternative parts</li>
			<li>Leopold Gunther, mems-rosco</li>
			<li>James Portman, rovermems.com</li>
			<li>Colin Bourassa, memsgauge / memsreader</li>
			<li>The MiniForum, SPI Section, in particular the articles by Sprocket</li>
			<li>Black Box Solutions, FCR diagnostics</li>
		</ul>
	</div>
	<div>
		<p>
			In addition, a number of organizations have been generous enough to support the development and distribution of open-source software.
			Thanks to:
		<ul>
			<li>Jetbrains who provide IntelliJ for open-source software development</li>
			<li>Advanced Installer who provided the installation software for Windows distribution</li>
		</ul>
		</p>
	</div>
</div>
<!-- credits.html -->
