<div class="row">
	<div class="col">
		<p>Check your vacuum trap and pipe if the MAP reading is higher than 45kPa when the engine is running and idle or the Air : Fuel ratio is consistently higher than 14.7</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x07_ManifoldAbsolutePressure" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x01_EngineRPM" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x09_ThrottlePotSensor" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx04_AirFuelRatio" src="" width="100%">
	</div>
</div>
