<div class="row">
	 <div class="col">
		  <p>The Spi Mini is notorious for issues caused by a faulty vacuum pipe. The pipe runs from the rear of the inlet manifold to the bottom of the ECU via a fuel vapour trap.
				The pipe connects to a sensor in the ECU called a MAP Sensor which reads the Manifold Absolute Pressure. This pressure reading is an essential value in the
				calculation the ECU performs to determine the load on the engine and the ratio of fuel to air needed.
				When the pipe has a leak the resulting incorrect pressure reading causes the ECU to drastically over or under fuel,
				which in turn can cause the engine to rev excessively, stall and run erratically.</p>

		  <p>Less common but also something worth checking are the breather system hoses and the evaporative emissions control system.
				Check all rubber hoses are in good condition, no cracks or splits.
				The main breather hoses to check are the ones supplying the purge valve and the charcoal canister. They usually leak at the purge valve shown here.</p>

		  <p>When the engine is off, the MAP should read 100kPa, when running and at idle it should be in the 30 - 40kPa range. Any higher than this
			  then suspect a vacuum leak. If the Lambda voltage is not oscillating and reads high then this can also be a good indication of a vacuum fault
			  as well.</p>

		 <p>Check that the lambda sensor voltage is oscillating from low to high, the oscillations should have started within 90 seconds of starting the engine or
			 the ECU will default to O2 System Failure. A persistent high reading indicates a potential vacuum leak.</p>
	 </div>
	 <div class="col">
		  <div class="d-flex justify-content-center">
				<span>
				<img src="static/images/vacuum-pipe.jpeg" style="width:30%;" class="rounded m-1" alt="emssion control systems">
				<img src="static/images/vacuum-manifold.jpeg" style="width:30%;" class="rounded m-1" alt="emssion control systems">
				<img src="static/images/vacuum-fueltrap.jpeg" style="width:30%;" class="rounded m-1" alt="emssion control systems">
				<img src="static/images/vacuum-ecu.jpeg" style="width:30%;" class="rounded m-1" alt="emssion control systems">
				<img src="static/images/vacuum-charcoal.jpeg" style="width:30%;" class="rounded m-1" alt="emssion control systems">
				</span>
		  </div>
	 </div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x07_ManifoldAbsolutePressure" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx06_LambdaVoltage" src="" width="100%">
	</div>
</div>
