<div class="row">
	<div class="col">
		<p>
			The number of IACV steps from fully closed (0) which the ECU has learned as the correct position to maintain the target idle speed with a fully warmed up engine
			is outside the range 10 - 50 steps, then this is an indication of a possible fault condition or poor adjustment.
			<br>
			This value can be forced for a short time using the function in the settings section.
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx0F_IdleBasePosition" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x12_IACPosition" src="" width="100%">
	</div>
</div>
