<div class="row">
	<div class="col">
		<p>
			Also known as stepper motor idle air control valve (IACV)<br>
			The stepper motor bolts on the side of the injection body housing to control engine idle speed and air flow from cold start up<br>
			A high number of steps indicates that the ECU is attempting to close the stepper motor and reduce the airflow<br>
			A low number would indicate the inability to open the stepper motor and increase airflow<br>
			IAC position invalid if the idle offset exceeds the max error, yet the IAC Position remains at 0<br>
			<br>
			It's a common fault where the stepper motor wears and begin to skip steps.<br>
			A poorly adjusted IAC setting can also have a dramatic effect.<br>
			<strong>It is vitally important that the <a href="https://memsfcr.co.uk/setting-the-idle-speed-stepper-motor/" target="_blank">correct procedure</a> with a diagnostic tools such as MemsFCR are followed to adjust the IAC / Stepper Motor</strong>
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x12_IACPosition" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x13_IdleSpeedDeviation" src="" width="100%">
	</div>
</div>
