<div class="row">
	<div class="col">
		<p>
			The voltage from the Air Inlet Sensor does not meet the voltages expected by the ECU.<br>
			This would indicate a total failure of the sensor, however, often the case is that the sensor
			starts failing and the temperature readings are incorrect. This sensor can be found fitted in the
			air filter housing
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x05_IntakeAirTemp" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis IntakeAirTempSensorFault" src="" width="100%">
	</div>
</div>
