<div class="row">
	<div class="col">
		<p>
			The coolant temperature as measured by the ECU from the coolant temperature sensor (CTS). If the sensor is open circuit, a default value of about 60C will be displayed.<br>
			During engine warm up, the value should rise smoothly from ambient to approximately 90C.<br>
			The sensor is located under the inlet manifold.<br>
			<br>
			The ECU relies on a correct reading to calculate the fuel : air ratio and faults may cause several symptoms including poor starting, fast idle speed, poor fuel consumption and cooling fans running continuously.
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x03_CoolantTemp" src="" width="100%">
	</div>
</div>
