<div class="row">
	<div class="col">
		<p>This shows the voltage of the vehicle supply measured internally by the ECU is low. Large errors in this measurement will lead to possible poor starting and errors in idle CO.
		If the voltage is initially low but rises to > 13V when the engine is running then check the battery condition. If the voltage doesn't rise, then check the alternator output.</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _80x08_BatteryVoltage" src="" width="100%">
	</div>
</div>
