<div class="row">
	<div class="col">
		<p>The O2 system is used to activate closed loop mode, whereby the ECU will monitor the oxygen in the exhaust and
			adjust the fuel air mixture ratio. This is complex system and critical to the injection system performing well.
			A fault in the O2 system will cause the car to run poorly, over fuel and fail emissions tests.</p>
		<p>When the ignition is turn on, the Lambda heater relay is energised to apply power to the lambda heater.
			Shortly after that the lambda voltage rises then falls and oscillates from a high to low voltage rapidly.
			If this behaviour is not detected by the ECU within around 90 seconds, the Lambda Status will be set to 0 and the ECU
			will enter limp-home mode.</p>
		<p>If the heater or the relay are faulty then it's likely the lambda will not reach temperature in time for it to start
			oscillating befor the ECU deems the O2 System faulty. Starting the car whilst warm will and observing normal
			lambda behaviour will be a good indicator that the heater or relay are faulty.</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx06_LambdaVoltage" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx0A_ClosedLoop" src="" width="100%">
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="analysis _7Dx09_LambdaStatus" src="" width="100%">
	</div>
</div>
