<div class="card mt-3">
	<div class="card-header bg-danger text-white">ECU Sensor Faults</div>
	<div class="card-body">
		<div>
			<p>
				Any reported sensor fault will cause the ECU to run the engine in limp mode and likely cause over fueling. Do not make any adjustments until the sensor fault is fixed.
			</p>
			<h4>Action Plan</h4>
			<ul>
				<li>Clear the faults</li>
				<li>Switch off ignition</li>
				<li>Switch on ignition and check the fault codes again</li>
				<li>If the faults persist or after driving the car they reappear, replace the sensor / check the relevant circuit</li>
			</ul>
		</div>
	</div>
</div>
