<button id="" class="btn btn-primary" onclick="">Temperature Gauge</button>
<button id="" class="btn btn-primary" onclick="">Fuel Pump</button>
<button id="" class="btn btn-primary" onclick="">Manifold Heater</button>
<button id="" class="btn btn-primary" onclick="">Air Con</button>
<button id="" class="btn btn-primary" onclick="">Purge Valve</button>
<button id="" class="btn btn-primary" onclick="">Lambda Heater</button>
<button id="" class="btn btn-primary" onclick="">Fan 1</button>
<button id="" class="btn btn-primary" onclick="">Fan 2</button>
<button id="" class="btn btn-primary" onclick="">Injectors</button>
<button id="" class="btn btn-primary" onclick="">Coil</button>
<button id="" class="btn btn-primary" onclick="">RPM Gauge</button>
