<div class="text-center">
	<div class="card m-3 fs-6">
		<p>
			The MEMS ECU supports the ability to manually test various components and sensors.<br>
			<br>
			When you switch on a control you should hear the relay click or the fuel pump run for example.<br>
			The temperature gauge control is very useful in verifying that the output from the ECU is operating the temperature gauge correctly.<br>
		</p>
		<p>
			<strong>These components are essential to the smooth operation of the engine, these controls are only available when the engine is not running.</strong>
		</p>
	</div>
	<div class="container">
{% for item in data["actuators.json"]["actuators"] %}
	<div class="d-grid d-md-block justify-content-md-center btn-group p-2">
		<button id="{{ item['id'] | safe }}_activate" name="{{ item['id'] | safe }}" value="activate" class="btn btn-outline-success col-1 actuator koeo-enabled">ON</button>
		<button id="{{ item['id'] | safe }}" class="btn btn-outline-dark col-3" disabled>{{ item['name'] | safe }}</button>
		<button id="{{ item['id'] | safe }}_deactivate" name="{{ item['id'] | safe }}" value="deactivate" class="btn btn-outline-danger col-1 actuator koeo-enabled">OFF</button>
	</div>
{% endfor %}
	</div>
</div>

