<div class="btn-group" role="group" aria-label="Idle Speed Offset">
	<button id="" class="btn btn-outline-secondary" onclick="">- Idle Speed Offset</button>
	<button id="" class="btn btn-outline-secondary" onclick="">+ Idle Speed Offset</button>
</div>
<button id="" class="btn btn-warning" onclick="">Manifold Heater</button>
<button id="" class="btn btn-warning" onclick="">Air Con</button>
<button id="" class="btn btn-warning" onclick="">Purge Valve</button>
<button id="" class="btn btn-warning" onclick="">Lambda Heater</button>
<button id="" class="btn btn-warning" onclick="">Fan 1</button>
<button id="" class="btn btn-warning" onclick="">Fan 2</button>
<button id="" class="btn btn-warning" onclick="">Injectors</button>
<button id="" class="btn btn-warning" onclick="">Coil</button>
<button id="" class="btn btn-warning" onclick="">RPM Gauge</button>
