<div class="card mt-3">
	<div class="card-body">
		{% if not isActiveFault('at_operating_temp', faults) %}
			<p class="alert alert-warning">Engine operating temperature has not yet been achieved in this run. There maybe faults that have not been detected that only appear once the engine is warm.</p>
		{% endif %}

		{% if faultCount(faults) == 0 %}
			<div class="card">
				<div class="card-body">
					No faults found
				</div>
			</div>
		{% else %}
			<div class="card mt-3">
				<div class="card-header alert alert-danger">{{ faultCount(faults) | safe }}&nbsp;&nbsp;Faults Detected</div>
				<div class="card-body">
					{% for fault in faults %}
						{% if fault["type"] == "alert" and fault["index"] != None  %}
							<p>{{ fault["text"] | safe }}</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% for fault in faults %}
			{% if fault["index"] is not none %}
				{% if fault["type"] == "alert" %}
					<div class="card mt-3">
						<div class="card-header alert alert-danger">{{ fault["text"] | safe }}</div>
						<div class="card-body">
							{% if fault["metric"] == "battery_fault" %}
								{{ template('faults/analysis-battery-low-fault.html') }}
							{% elif fault["metric"] == "coil_fault" %}
								{{ template('faults/analysis-coil-fault.html') }}
							{% elif fault["metric"] == "coolant_temperature_fault" %}
								{{ template('faults/analysis-coolant-temperature-fault.html') }}
							{% elif fault["metric"] == "idle_hot_fault" %}
								{{ template('faults/analysis-idle-fault.html') }}
							{% elif fault["metric"] == "iac_fault" %}
								{{ template('faults/analysis-iac-fault.html') }}
							{% elif fault["metric"] == "iac_jack_fault" %}
								{{ template('faults/analysis-iac-jack-fault.html') }}
							{% elif fault["metric"] == "idle_fault" %}
								{{ template('faults/analysis-idle-fault.html') }}
							{% elif fault["metric"] == "idle_speed_fault" %}
								{{ template('faults/analysis-idle-speed-fault.html') }}
							{% elif fault["metric"] == "inlet_air_temp_sensor_fault" %}
								{{ template('faults/analysis-inlet-air-temp-sensor-fault.html') }}
							{% elif fault["metric"] == "map_fault" %}
								{{ template('faults/analysis-map-fault.html') }}
							{% elif fault["metric"] == "o2_system_fault" %}
								{{ template('faults/analysis-o2-system-fault.html') }}
							{% elif fault["metric"] == "thermostat_fault" %}
								{{ template('faults/analysis-thermostat-fault.html') }}
							{% elif fault["metric"] == "throttle_pot_circuit_fault" %}
								{{ template('faults/analysis-throttle-pot-circuit-fault.html') }}
							{% elif fault["metric"] == "vacuum_fault" %}
								{{ template('faults/analysis-vacuum-fault.html') }}
							{% elif fault["metric"] == "crankshaft_position_sensor_fault" %}
								{{ template('faults/analysis-crankshaft-fault.html') }}
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>

