{% set excludes = ['Time', '7d ECU Response', '80 ECU Response', "Coolant Sensor Fault", "Fuel Pump Circuit Fault", "Intake Air Sensor Fault", "Throttle Pot. Fault", '80x04 Ambient (°C)', '80x06 Fuel °C', '80x0b Air Con. Switch'] %}

{% for item in data["ecudata_df80.json"]["ecudata"] %}
	{% if item["name"] not in excludes %}
		<div class="position-relative">
			<div class="chart-container"><canvas title="{{ item['name'] | safe }}" class="ecuchart {{ item['id'] | safe }}" height="150"></canvas></div>
			<div class="position-absolute top-50 end-0 m-3 ecudata-label">{{ item['name'] | safe }}</div>
			<div class="position-absolute bottom-0 end-0 m-3 ecudata_{{ item['id'] | safe }}">0</div>
		</div>
	{% endif %}
{% endfor %}

{% for item in data["ecudata_df7d.json"]["ecudata"] %}
	{% if item["name"] not in excludes  %}
		<div class="position-relative">
			<div class="chart-container"><canvas title="{{ item['name'] | safe }}" class="ecuchart {{ item['id'] | safe }}" height="150"></canvas></div>
			<div class="position-absolute top-50 end-0 m-3 ecudata-label">{{ item['name'] | safe }}</div>
			<div class="position-absolute bottom-0 end-0 m-3 ecudata_{{ item['id'] | safe }}">0</div>
		</div>
	{% endif %}
{% endfor %}

