<button id="connectButton" class="btn btn-success ecu-control ecu-enabled-disconnected">Connect</button>
<button id="disconnectButton" class="btn btn-danger ecu-control ecu-enabled-connected" disabled>Disconnect</button>
<button id="pauseButton" class="btn btn-warning ecu-control ecu-enabled-connected" disabled>Pause</button>
<button id="clearFaultsButton" class="btn btn-danger ecu-control ecu-enabled-connected" disabled>Clear Faults</button>
<button id="resetECUButton" class="btn btn-danger ecu-control ecu-enabled-connected" disabled>Reset ECU</button>
<button id="downloadLogButton" class="btn btn-info has-logged-data" disabled>Download Log</button>
