<button id="connect" class="btn btn-success" onclick="window.memsfcr.connect(updateConnected)">Connect</button>
<button id="disconnect" class="btn btn-danger" disabled onclick="window.memsfcr.disconnect(updateConnected)">Disconnect</button>
<button id="pause" class="btn btn-warning" disabled onclick="window.memsfcr.pauseDataframe()">Pause</button>
<button id="clear" class="btn btn-danger" disabled onclick="window.memsfcr.clearFaults()">Clear Faults</button>
<button id="reset" class="btn btn-danger" disabled onclick="window.memsfcr.resetECU()">Reset ECU</button>
