<div class="card mt-3 bg-light">
	<div class="card-header">Credits and Thanks</div>
	<div class="card-body">
		<p>
			Much of the information and guidance has been sourced from the community, if your images or words feature and I haven't thanked you specifically for your contribution, then thank you.
			I have reused guides and images as these are publicly searchable and available in various forums and doing so reinforces a single source of the truth in a web full of rumours and misinformation.
		</p>
		<ul>
			<li>Roger Carpenter, Classic Mini NLA: Rare & Alternative parts</li>
			<li>Leopold Gunther, mems-rosco</li>
			<li>James Portman, rovermems.com</li>
			<li>Colin Bourassa, memsgauge / memsreader</li>
			<li>The MiniForum, SPI Section, in particular the articles by Sprocket</li>
			<li>Black Box Solutions, FCR diagnostics</li>
		</ul>
	</div>
	<div>
		<p>
			In addition, a number of organizations have been generous enough to support the development and distribution of open-source software.
			Thanks to:
			<ul>
				<li>Jetbrains who provide IntelliJ for open-source software development</li>
		<li>Advanced Installer who provided the installation software for Windows distribution</li>
			</ul>
		</p>
	</div>
</div>
