<div class="text-start" id="ecuid">ECU ID:</div>

<div class="row align-items-start justify-content-evenly text-start">
	<div class="col">
		<table class="table table-striped table-sm small">
			<tbody id="df80table">
			{% for item in data["ecudata_df80.json"]["ecudata"] %}
			<tr><td>{{ item['name'] | safe }}</td><td id="ecudata{{ item['id'] | safe }}">&nbsp;</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col">
		<table class="table table-striped table-sm small">
			<tbody id="df7dtable">
			{% for item in data["ecudata_df7d.json"]["ecudata"] %}
				<tr><td>{{ item['name'] | safe }}</td><td id="ecudata{{ item['id'] | safe }}">&nbsp;</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
