<div class="card p-3 mt-2">
	<h5>Sensors used by the ECU</h5>

	<div class="row my-2">
		<div class="col-2">
			<img src="static/images/spi-crankshaft-sensor.png" style="width:100%;" class="rounded" alt="emssion control systems">
		</div>
		<div class="col">
			<h5>Crankshaft Position Sensor (CAS)</h5>
			<p>
				Fitted on the front left side of the engine, this sensor is used to determine the position of the engine relative to top dead centre (TDC) and to calculate the speed of the engine.
				This sensor is the primary signal to initiate ignition and fueling.
			</p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<img src="static/images/spi-air-intake-sensor.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
		</div>
		<div class="col">
			<h5>Air Intake Temperature Sensor (ATS)</h5>
			<p>
				Fitted to the underside of the air filter, this sensor reads the temperature of the air entering the inlet manifold.
				Whilst used as a reference in the air / fuel ratio calculation, it has no impact on fueling.
			</p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<img src="static/images/spi-coolant-sensor.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
		</div>
		<div class="col">
			<h5>Coolant Temperature Sensor (CTS)</h5>
			<p>
				Fitted to the underside of the inlet manifold, this sensor reads the temperature of the coolant.
				Normal operating temperature is usually from 80C to 100C and is a critical value in the calculation of ignition timing and duration.
			</p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<img src="static/images/vacuum-ecu.jpeg" style="width:100%;" class="rounded" alt="emssion control systems">
		</div>
		<div class="col">
			<h5>Manifold Absolute Pressure (MAP)</h5>
			<p>
				The MAP sensor is fitted inside the ECU and reads the inlet manifold vacuum via a vacuum pipe that runs from the inlet manifold to the ECU via a fuel trap.
				The fuel trap prevents vapours entering and damaging the MAP sensor. The MAP sensor is used to measure the load on the engine.
				Using the MAP value and the speed of the engine from the CAS, the ECU calculates the air / fuel ratio.
			</p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<img src="static/images/spi-under-inlet-manifold.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
		</div>
		<div class="col">
			<h5>Oxygen (Lambda) Sensor (OS)</h5>
			<p>
				The MEMS injection system implements a closed-loop control system which monitors the oxygen content in the exhaust gases in order to reduce exhaust emissions.
				Fitted to the exhaust down pipe, this sensor is the critical component in the O2 System. The lambda sensor starts working once it reaches 300C.
				The lambda sensor is fitted with a heater which is switched on via a relay once the engine is running to reach this operating temperature as soon as possible.
				Once the sensor is at operating temperature it will read low oxygen level in a rich mixture and a high oxygen level in a lean mixture.
				The ECU uses these readings to adjust the fuel mixture accordingly. This adjustment happens many times a second.
			</p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-2">
			<img src="static/images/spi-throttle-pot-sensor.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
		</div>
		<div class="col">
			<h5>Throttle Potentiometer Sensor (TPS)</h5>
			<p>
				The TPS is fitted to the side of the injector unit, you can see the connector and cable above the pen in the image.
				This sensor is used by the ECU to determine the angle of the throttle and whether the engine is idle.
			</p>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-2">
			<img src="static/images/spi-throttle-switch.jpg" style="width:100%;" class="rounded" alt="emssion control systems">
		</div>
		<div class="col">
			<h5>Throttle Switch (TS)</h5>
			<p>
				Fitted on early SPI Minis only the Throttle Switch is used by the ECU to determine whether the engine is idling.
				On the later MEMS 1.6 ECU, the idle is determined using the Throttle Potentiometer Sensor.
			</p>
		</div>
	</div>
</div>
