<div class="card mt-3">
	<div class="card-header">Guide to the Vacuum System</div>
	<div class="card-body">
		<div>
			<p>
				There are several parts to the vacuum system, namely the inlet manifold, the inlet manifold pipes and fuel trap, the vacuum rail and the carbon canister.
				Pressure is created in the inlet manifold when the engine is running and can be measured to determine the load and performance of the engine.
				A loss of vacuum pressure will result in the ECU being unable to accurately measure and adapt to engine load and lose the ability to control the rpm of the engine.
				In the worst case, this will result in erratic engine rpm and massive over-fuelling.
				The most notorious and troublesome part of this system is the inlet manifold vacuum pipes and fuel trap that run to the ECU.
				A break in the pipe can lead to complete loss of vacuum, however more common is a split in an elbow connector will give partial loss and over-fuelling will be the most notable symptom rather than erratic running.
			</p>
			<div class="row row-cols-3">
				<div class="col"><img src="static/images/vacuum-pipe.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">Vacuum Pipe Elbows can split causing a high MAP reading</div>
				<div class="col"><img src="static/images/vacuum-manifold.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">Vacuum Pipe fits behind the inlet manifold</div>
				<div class="col"><img src="static/images/vacuum-fueltrap.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">The fuel trap. This prevents vapours entering the ECU MAP sensor</div>
			</div>
			<div class="row row-cols-3 mb-5">
				<div class="col"><img src="static/images/vacuum-ecu.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">ECU MAP connection</div>
				<div class="col"><img src="static/images/vacuum-charcoal.jpeg" style="width:100%;" class="rounded m-1" alt="emssion control systems">Carbon Filter Solenoid Valve</div>
				<div class="col"></div>
			</div>
			<h4>A Working Vacuum System</h4>
			<ul>
				<li>Manifold Absolute Pressure (MAP) is 40kPa or lower. A warm engine is likely to be in the range of 34kPA - 40kPA.</li>
				<li>Carbon Canister Value relay operates after the throttle has been held open at >= 2000 rpm for a period of time (30 seconds or so)</li>
			</ul>
			<h4>Action Plan for a Failing Vacuum System</h4>
			<ul>
				<li>Check vacuum pipes for breaks, in particular check the elbow connectors for splits and are firmly attached to the pipes</li>
				<li>Check vacuum pipes are not pushed so far on to the fuel trap so they block the air flow.</li>
				<li>Check fuel trap by sealing one end with your finger and blowing into it</li>
			</ul>
			<h4>Action Plan for a Partial Vacuum System</h4>
			<p>In many cases the Manifold Absolute Pressure (MAP) in a partially failing system maybe just above 40kPa, probably in the range of 41kPA - 50kPA. Over-fuelling will be the most notable symptom rather than erratic running</p>
			<ul>
				<li>Follow steps for a Failing Vacuum System</li>
				<li>Check inlet manifold is tightened correctly</li>
				<li>Check vacuum pipe from inlet manifold to vacuum rail</li>
				<li>Check vacuum pipe to carbon canister</li>
				<li>Optionally replace the vacuum pipes with silicon vacuum pipes (3mm internal diameter).</li>
			</ul>
		</div>
	</div>
</div>
