<div class="text-white" style="background-color:darkred">
	<h1 class="text-center">Web MemsFCR</h1>
</div>

<header>
	<nav class="navbar-light bg-light">
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link navbar-brand active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">ECU Data</button>

			<button class="nav-link navbar-brand" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>

			<button class="nav-link navbar-brand" id="nav-test-tab" data-bs-toggle="tab" data-bs-target="#test" type="button" role="tab" aria-controls="nav-test" aria-selected="false">Actuators</button>

			<button class="nav-link navbar-brand" id="nav-rosco-tab" data-bs-toggle="tab" data-bs-target="#rosco" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">ROSCO</button>
		</div>
	</nav>
</header>
