<header>
	<nav class="navbar-light bg-light navbar-fixed-top fixed-top">
		<div class="container-fluid">
			<div class="nav nav-tabs  me-auto my-2 my-lg-0" id="nav-tab" role="tablist">
				<button class="nav-link navbar-brand" id="nav-dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Dashboard</button>
				<button class="nav-link navbar-brand" id="nav-analysis-tab" data-bs-toggle="tab" data-bs-target="#analysis" type="button" role="tab" aria-controls="nav-analysis" aria-selected="true">Faults</button>
				<button class="nav-link navbar-brand active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Charts</button>
				<button class="nav-link navbar-brand" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">ECU Data</button>
				<button class="nav-link navbar-brand koeo-enabled" id="nav-test-tab" data-bs-toggle="tab" data-bs-target="#test" type="button" role="tab" aria-controls="nav-test" aria-selected="false">Test Components</button>

				<div class="me-2">
					<button id="connectButton" class="btn btn-success ecu-control ecu-enabled-disconnected">Connect</button>
					<button id="disconnectButton" class="btn btn-danger ecu-control ecu-enabled-connected" disabled>Disconnect</button>
					<button id="pauseButton" class="btn btn-warning ecu-control ecu-enabled-connected" disabled>Pause</button>
					<button id="downloadLogButton" class="btn btn-secondary has-logged-data" disabled>Download Log</button>
				</div>
			</div>
		</div>
	</nav>
</header>
